@model UpdateBrandDto
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Marka Güncelle</h4>
                        <p class="card-subtitle mb-4">
                            Marka ile ilgili Güncelle işlemlerini bu sayfa üzerinden yapabilirsiniz.
                        </p>
                        <form method="post">
                            <input type="hidden" asp-for="brandID" class="form-controll" />
                            <div class="form-group">
                                <label for="exampleInputModel">Marka</label>
                                <input type="text" class="form-control" id="exampleInputModel" asp-for="name" placeholder="Marka Giriniz...">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Marka Güncelle</button>
                        </form>
                    </div> <!-- end card-body-->
                </div>
            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
