@model CreateLocationDto
@{
    ViewData["Title"] = "CreateLocation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Lokasyon Ekleme</h4>
                        <p class="card-subtitle mb-4">
                            Lokasyon ile ilgili Ekleme işlemlerini bu sayfa üzerinden yapabilirsiniz.
                        </p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputModel">Lokasyon</label>
                                <input type="text" class="form-control" id="exampleInputModel" asp-for="Name" placeholder="Lokasyon Giriniz...">
                            </div>
                           
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Lokasyon Ekle</button>
                        </form>
                    </div> <!-- end card-body-->
                </div>
            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
